h1{
background: yellow;
font-family: arial;
color: white;
text-align: center;
font-size: 100px;
}

h2{
background: black;
font-family: arial;
color: white;
text-align: center;
font-size: 200px;
}

h3{
background: green;
font-family: arial;
color: white;
text-align: center;
font-size: 200px;
}

h4{
background: blue;
font-family: arial;
color: white;
text-align: center;
font-size: 200px;
}

h5{
background: black;
font-family: arial;
color: white;
text-align: center;
font-size: 200px;
}

h6{
background: red;
font-family: arial;
color: white;
text-align: center;
font-size: 200px;
}